$textColorPrimary: #754741;
$textColorSecondary: #ff8bb5;
$textColorTertiary: #c68e86;
$boxShadow: 8px 8px 25px 4px #F2E0D3;
$calibrifont: "Calibri";
$scrollbarColor: #f8a373;
$scrollbarHoverColor:#dc714a;